    <meta charset="UTF-8">
    <title>This is in the head</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel = "stylesheet" type="text/css" href = "/public/styles/reset.css" /> -->
    <link rel = "stylesheet" type="text/css" href = "/public/styles/base.css" />
    <link rel = "stylesheet" type="text/css" href = "/public/styles/modules.css" />
    <link rel = "stylesheet" type="text/css" href = "/public/styles/layout.css" />
    
