<!DOCTYPE html>
<html>

<head>
 <%- include('../partials/head') %>
</head>
   
<body class = "container">
    <%- include('../partials/header') %>  
     <main>

     </main>
       
        <%- include('../partials/footer') %>
     
</body>
</html>