<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search</title> 
  <link rel="stylesheet" href="styles/styles.css">
<link rel="icon" type="image/x-icon" href="/public/images/book_favicon.png"> 
</head>
<body>
    <h1>Search Here</h1>
    <form>
        <fieldset>
            <legend>Search by either Title or Author</legend>
            <label>
                <span>Search</span>
                <input type = "text" name = "Enter a title or author" />"
                <input type = "radio"  name = "search" value = "title"/>
                <input type = "radio"  name = "search" value = "author"/>
            </label>
            <!-- <label>
                <span>Author</span>
                <input type = "text"  name = "author" />
            </label> -->
        </fieldset>
    </form>
<header>
    
</header>

<main>
<div class="">
  
</div>

</main>



</body>
</html>