<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <%- include('../partials/header') %>
<body>
    <!-- <container id = "search-container"> -->
    <section class = "page--title">Search by title or author

    </section>

    <form action = "/show" method = "POST">
      
      <section class = "search--form">        
        <label id = "search--label">
                <input type = "text" placeholder = "Enter a title or author" name = "search"/>
              </label>
      </section>   
            
      <section class = "title--form">   
        <label id = "title--label">Title</label>
          <input type = "radio"  id = "book" name = "search" value = "Title"/>
      </section>
              
      <section class = "author--form">
        <label id = "author--label">Author</label>
        <input type = "radio"  id = "author" name = "search" value = "Author"/>
      </section>
               
              <button class = "google--button">Search the Google Books API</button>
    </form>

    <%- include('../partials/footer') %>
     
</body>
</html>