/*  Base - should include default sizes, margins, colors, borders, and any other default values you plan to use across your website. Your typography and your form elements should have unified styles which appear on every page and give a feel and look that they are part of the same design and theme. */

body {
    background-color:  rgb(169,169,169);
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: darkolivegreen;
    font-weight: 400;
    font-size: xx-large;
}

.layout {
    color: white;
    background-color: rgb(105,105,105);
    font-family: Arial, Helvetica, sans-serif;
    padding: 100 px;
    margin: 20 px;
}

.section--layout {
    background-color: rgb(105,105,105);
    padding: 100 px;
    margin: 20 px;
}