/* Layout - For major sections like header, sidebar, content/main, and footer.  These layouts will hold multiple CSS modules like boxes, cards, unordered lists, galleries, and the like.  We usually give layouts an ID selector, as they don’t repeat on the page and they are unique. You call your class .label. But then you come to another element later on, and you also want it to be .label, but style it differently. So two different things have the same name—a naming conflict.  Namespacing helps you resolve this. Ultimately, they are called the same thing on one level, but they have a different namespace—a different prefix—and thus can represent two different styles.  Ex. box--label vs card--label */

/* .label {
    background-color: blue;
} */

/* .author--label {
    background-color: coral;
    padding: 20px;    
} */

.title--form {
    background-color: lightgray;
    padding: 50px;
    margin: 20px;
}

.author--form {
    background-color: lightgray;
    padding: 50px;
    border-style: solid;
    border-color: red;
    margin: 20px;
}

.google--button {
    background-color: black;
    padding: 20px;
    color: white;
    margin: 20 px;
}

.search--label {
    background-color: whitesmoke;
    padding: 100px;
    margin: 20px;
}

.search--form {
    background-color: thistle;
    padding: 20px;
    margin: 20px;
}

/* h1 {
    color: white;
    background-color: rgb(105,105,105);
    font-family: Arial, Helvetica, sans-serif;
} */

.page--title {
    color: white;
    background-color: rgb(105,105,105);
    padding: 100 px;
    margin: 20 px;
}